.main {
  background-color: #f6f7fb;
  /*display: flex;*/
  /*margin: auto;*/
  /*width: 80%;*/
  align-items: center;
  border: 1px solid #edeef0;
  transition: margin 0.4s ease-in-out;

}

h2 {
  padding-left: 25px;
}

.first-line {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /*height: 300px;*/
  background-color: #f6f7fb;
  justify-content: space-around;
  margin-bottom: 25px;
}

.flex-element {
  padding: 15px;
  margin-left: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  flex-grow: 1;
  background-color: white;
  border: 1px solid #edeef0;
  height: 250px;
}

.element1 {
  min-width: 300px;
}

.element2 {
  min-width: 480px;
  flex-grow: 2;
}

.second-line {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /*height: 300px;*/
  background-color: #f6f7fb;
  justify-content: space-around;
}

.element3, .element4, .element5 {
  min-width: 240px;
  min-height: 340px;
}
