.menuItem {
  direction: ltr;
  font-size: 18px;
  line-height: 2;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  list-style: none;
}

.line {
  width: 5px;
  height: 66px;
  float: left;
}

.menuLine:hover  .line {
  background-color: #5e84e7;
}

#circle {
  background-image: url("../../assets/circle.png");
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: bottom;
}

i {
  padding: 5px;
}

.menuItem:hover   {
  background-color: #122043;
}

:host{
  background: #0e1935;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  min-width: 200px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  transition: margin 0.4s ease-in-out;
}

h3 {
  text-align: center;
}
