ul {
  direction: ltr;
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
}

:host {
  background: #0e1935;
  color: #fff;
  position: absolute;
  float: left;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  /*width: 10%;*/
  min-width: 200px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
